body {
    margin: 0;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.TikToklogo {
    width: auto;
    height: 40%;
}

.headboxlogo {
    margin-left: 10px;
    margin-top: 10px;
}

.headboxhelp {
    margin-right: 20px;
    margin-top: 20px;
}

.headboxhelp a {
    text-decoration: none;
    color: black;
}

.headboxhelp a:hover {
    text-decoration: underline;
}