 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.TikToklogo {
    width: auto;
    height: 90%;
}

.headboxlogo {
    margin-left: 10px;
    margin-top: 10px;
}

.headboxhelp {
    display: flex;
    justify-content: space-between;
}

.headboxhelp a {
    text-decoration: none;
    color: #161823; 
    font-weight: 500;
    font-size: 15px;
}

.headboxhelp a:hover {
    text-decoration: underline;
}

.help_icon {
    margin: 18px;
    margin-right: 5px;
    width: auto;
    height: 30%;
}

.helptext {
    margin-right: 20px;
    margin-top: 20px;
}

.logincenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginhad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logintext {
    color: #161823;
    font-weight: 1000;
    font-size: 33px;
}
.logininfboxhead{
    margin-bottom: 20px;
}
.logininfbox{
    display: flex;
    justify-content: center;
    color: #9f9fa0;
    font-size: 15px;
}

.logininftext {
    color: #161823;
    font-size: 14px;
}
.scroll {
    margin-top: 5px;
    overflow:auto;
    width: 425px;
}

.scrollbox {
    padding-top: 50px;
    width: 420px;
    height: 425px;
    overflow: hidden;
    overflow: scroll;
}

.loginbuttons {
    display: flex;
    justify-content: center;
}

.btn {
    color: #161823;
    font-size: 14px;
    font-weight: 550;
    border-radius: 6px;
    border: solid #cfcfcfa2 1px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 15px; 
    width: 340px;
    height: 45px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #aaacab3f;
}

.btn-text {
    position: relative;
    flex-grow: 1;
}

.btn-icon {
    position: relative;
    text-shadow: none;
}

.btn-icon > i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    margin-right: 10px;
}

.logintermsbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logintermstext{
    display: flex;
    justify-content: center;
    color: #9f9fa0;
    font-size: 13px;
}

.logintermstext a {
    text-decoration: none;
    color: #161823; 
    font-size: 13px;
}

.logintermstext a:hover {
    text-decoration: underline;
}

hr {
    border-top: 1px solid #cacaca;
}

.signin {
    display: flex;
    justify-content: center;
    color: #9f9fa0;
    color: #161823;
    font-weight: 500;
}

.signin a {
   color: #fc2e58;
   text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}

.bottom {
    background-color: #121212;
    height: 55px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
    color: #a09f9f;
    font-weight: 500;
    font-size: 14px;
}

.bottom button {
    border-color: #a09f9f;
    height: 35px;
    width: 150;
    color: #ffffff;
    background-color: #121212;
    border-width: 1.5px;
    font-weight: 500;
    text-align: left;
    padding: 10px 10px;
}

*::-webkit-scrollbar {
    width: 0px;
  }

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #dedcdf81;
    border-radius: 10px;
    border: 3px solid #ffffff;
}