@font-face {
    font-family: 'NotoSansTirhuta-Regular';
    src: url('img/NotoSansTirhuta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'NotoSansTirhuta-Regular';
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.TikToklogo {
    width: auto;
    height: 40%;
}

.headboxlogo {
    margin-left: 10px;
    margin-top: 10px;
}

.headboxhelp {
    margin-right: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.headboxhelp a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.headboxhelp a:hover {
    text-decoration: underline;
}